.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%); /* Mulai dari luar layar di kiri */
    }
    100% {
        transform: translateX(0); /* Berhenti di posisi normal */
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0); /* Mulai dari posisi normal */
    }
    100% {
        transform: translateX(-120%); /* Bergerak keluar ke kanan */
    }
}

.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Pastikan selalu penuh tinggi viewport */
    overflow: hidden; /* Mencegah elemen keluar viewport */
    padding: 0 1rem; /* Tambahkan padding untuk margin X seimbang */
    box-sizing: border-box; /* Pastikan padding dihitung */
  }
  
  .dialog-box {
    background-color: #ffe680;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Bayangan untuk efek estetis */
    border-radius: 1rem; /* Membuat sudut membulat */
    padding: 1.5rem;
    max-width: 90%; /* Membatasi lebar maksimum */
    width: 100%; /* Lebar penuh hingga max-width tercapai */
    overflow: hidden; /* Mencegah konten overflow */
    animation: dialogEnter 0.4s ease-out forwards;
  }
  
  @keyframes dialogEnter {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  
.animate-slide-in {
    animation: slide-in 0.5s forwards;
}

.animate-slide-out {
    animation: slide-out 0.5s forwards;
}
@keyframes dialogEnter {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes expandWidth {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .dialog-enter {
    animation: dialogEnter 0.4s ease-out forwards;
  }
  
  .dialog-expand {
    animation: expandWidth 0.5s ease-out forwards;
  }
  